* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.findPw button, input {
	border-radius: 0;
	border: none;
	background: 0 0;
	outline: 0;
	text-decoration: none;
	cursor: pointer;
}

body {
	background-color: beige;
	font-family: 'SUITE-Regular', sans-serif;
}

.findPw {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 120px 0px;
}

.findPw_container {
	width: 400px;
	height: 470px;
	border: 1px solid #D5C8C8;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.findPw_content {
	width: 400px;
	height: 350px;
	/* 	border: 1px solid black; */
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* 	justify-content: center; */
}

.findPw_content .title {
	font-size: 25px;
	margin-bottom: 20px;
}

.findPw_content .expln {
	font-size: 12px;
	margin-bottom: 10px;
	text-align: center;
}

.rqdInfo {
	border: 1px solid #D5C8C8;
	margin: 20px 0px 5px;
}

.findPwForm input {
	flex: 1 1 auto;
	box-sizing: border-box;
	width: 270px;
	font-size: 16px;
	line-height: 22px;
	color: #222;
}

input::placeholder {
	font-size: 12px;
}

.findPwForm::before {
	position: absolute;
	top: 10px;
	left: 9px;
	content: ''
}

.findPwForm {
	display: flex;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	max-width: 100%;
	min-height: 50px;
	padding: 0 10px 0 45px;
}

.findPwForm::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* border-radius: inherit; */
	pointer-events: none;
	content: ''
}

.findPwForm.id {
	border-bottom: 0.5px solid #dfdfdf;
}


.findPwForm.id::before {
	background-image: url("/Eunsol/imges/join_icon.png");
	background-size: 340px 326px;
	background-position: -96px -296px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px
}

.findPwForm.id.a::before {
	background-image: url("/Eunsol/imges/join_icon.png");
	background-size: 340px 326px;
	background-position: -224px -264px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}


.findPwForm.email {
	border-bottom: 0.5px solid #dfdfdf;
}

.findPwForm.email::before {
	background-image: url("/Eunsol/imges/join_icon.png");
	background-size: 340px 326px;
	background-position: -310px -160px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	;
}

.findPwForm.email.a::before {
	background-image: url("/Eunsol/imges/join_icon.png");
	background-size: 340px 326px;
	background-position: -310px -32px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	;
}


.findPwForm.nickname::before {
	background-image: url("/Eunsol/imges/join_icon.png");
	background-size: 340px 326px;
	background-position: -96px -296px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: 9px;
	content: ''
}

.findPwForm.nickname.a::before {
	background-image: url("/Eunsol/imges/join_icon.png");
	background-size: 340px 326px;
	background-position: -224px -264px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: 9px;
	content: ''
}
.findPw_content .findPw_error{
		height: 40px;
}
.findPw_content .find-button{
	width: 325px;
	height :50px;
	box-sizing: border-box;
	background-color: #FF5733;
	color: white;
	font-size: 15px;
}
